* {
  background-color: cornsilk;
  margin: 0%;
  padding: 0%;
}

.App {
  text-align: center;
}

h1 {
  background-color: black;
  color: aliceblue;
  padding: 2%;
}

.main-div {
  display: flex;
  flex-direction: row;
}

.add-div {
  width: auto;
  min-width: 50%;
  text-align: center;
  height: auto;
  min-height: 50vh;
}

.todos-div {
  width: auto;
  min-width: 50%;
  text-align: center;
  height: auto;
  min-height: 50vh;
}

.add-form {
  background-color: burlywood;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

input {
  padding: 2%;
  border-radius: 10px;
  border: 2px solid salmon;
}

button {
  padding: 2%;
  border-radius: 5px;
  border: 2px solid sienna;
  color: aliceblue;
  background-color: rgb(66, 59, 59);
  cursor: pointer;
  max-width: 200px;
}

button:hover {
  border: 2px solid rgb(0, 0, 0);
  color: aliceblue;
  background-color: sienna;
  transition: background-color 0.2s ease-in, border 0.2s ease-in;
}

.todos-right {
  background-color: burlywood;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

h3 {
  background-color: black;
  color: aliceblue;
  padding: 2%;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 2%;
}

.edit-remove-div {
  display: flex;
  padding: 2%;
  gap: 10px;
}


.update-form {
  background-color: burlywood;
  margin: 2%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}